@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-neutral-0: #fbfdfe;
  --color-neutral-200: #d6e2f5;
  --color-neutral-900: #091540;
}

body {
  background: linear-gradient(180deg, #ebf2fc 0%, #eefbf9 100%) no-repeat;
  height: 100vh;
  margin: 0 1rem;
  margin-top: 20px;
  margin-bottom: 64px;
  font-family: "Noto Sans", sans-serif;
}
