@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-neutral-0: #fbfdfe;
  --color-neutral-200: #d6e2f5;
  --color-neutral-300: #c6c6c6;
  --color-neutral-600: #535868;
  --color-neutral-700: #2f364b;
  --color-neutral-800: #202535;
  --color-neutral-900: #091540;
}

body {
  font-family: "Noto Sans", sans-serif;
}
